body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(135, 44, 158);
}
.todo-list{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}
h1{
    padding: 10px;
    margin: 10px;
    margin-left: 10em;
    margin-right: 10em;
    font-size: 50px;
    background-color: rgb(46, 47, 95);
    border: none;
    color: white;
    border-radius: 5px;
}
button{
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    background-color: rgb(75, 17, 88);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.add-button{
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(93, 247, 88);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s, ease;
}

.add-button:hover{
    background-color: rgb(72, 255, 0);
    box-shadow: 0px 0px 7px 3px rgb(0, 255, 213);
}
.delete-button{
    background-color: rgb(255, 0, 0);
    font-weight: bold;
}
.delete-button:hover{
    background-color: rgb(255, 0, 0);
    box-shadow: 0px 0px 7px 3px rgb(0, 255, 213);
}
.move-down:hover{
    background-color: rgb(0, 174, 255);
    box-shadow: 0px 0px 7px 3px rgb(0, 255, 213);
    
}
.move-up:hover{
    background-color: rgb(0, 174, 255);
    box-shadow: 0px 0px 7px 3px rgb(0, 255, 213);
}
input[type="text"]{
    padding: 10px;
    margin: 10px;
    font-size: 1.6em;
    color: black;
    border-radius: 5px;
    border: 5px solid rgb(204, 146, 38);
}
ol{
   padding: 0;
}
li{
    font-size: 2rem;
    font-weight: bold;
    padding: 25px;
    margin-bottom: 10px;
    background-color: rgba(253, 253, 253, 0.795);
    border-radius: 5px;
    border: 5px solid rgb(204, 146, 38);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10em;
    margin-right: 10em;
}
.text{
    flex: 1;
    
}
.delete-button, .move-up, .move-down{
    margin-left: 10px;
    padding: 8px, 12px;
    font-size: 1.2rem;
}